Source: jpylyzer
Section: misc
Priority: extra
Maintainer: Hélder Silva <hsilva@keep.pt>
Build-Depends: debhelper (>= 8.0.0), perl
Standards-Version: 3.9.2
Homepage: https://github.com/bitsgalore/jpylyzer

Package: jpylyzer
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: JP2 (JPEG 2000 Part 1) validator and properties extractor.
 JP2 (JPEG 2000 Part 1) image validator and properties extractor
 KB / National Library of the Netherlands - Open Planets Foundation
