#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	pod2man --section=1 --release=$(VERSION) --center "" debian/tika-app-cli.pod > debian/tika-app-cli.1

override_dh_auto_clean:
	rm -f debian/tika-app-cli.1

override_dh_prep:
	uscan --force-download 
#	uscan --force-download --timeout 100 --rename --verbose --debug
#	uscan --timeout 100 --verbose --debug --report 

