Source: scape-as-execute-workflow-with-webservice
Section: misc
Priority: extra
Maintainer: Hélder Silva <hsilva@keep.pt>
Build-Depends: debhelper (>= 8.0.0), perl
Standards-Version: 3.9.2
Homepage: http://scape-project.eu/

Package: scape-as-execute-workflow-with-webservice
Architecture: all 
Depends: ${misc:Depends}
Description: Taverna workflow execution simplified for SCAPE webservices
 Script that allows the user to execute a Taverna
 workflow through the command-line using a local webservice
