        // Input: ${input_variable}
        URL ${input_variable}Url = null;
        try {
            ${input_variable}Url = new URL(${input_variable});
            infolog("URL of input file: " + ${input_variable}Url.toString());
        } catch (MalformedURLException ex) {
            errorlog("\"" + ${input_variable} + "\" is not a valid value for the "
                    + "parameter \"${input_variable}Url\"");
            return getResult(fac, omNs);
        }
        String ${input_variable}Ext = StringUtils.getFileExtension(${input_variable}Url.toString());
        if (${input_variable}Ext == null) {
            ${input_variable}Ext = "tmp";
        }
        File ${input_variable}File = FileUtils.urlToFile(${input_variable}Url, ${input_variable}Ext);
        if (!${input_variable}File.exists()) {
            errorlog("Input file " + ${input_variable}File.toString() + " is not available");
            return getResult(fac, omNs);
        }
        infolog("Input file created: " + ${input_variable}File.getAbsolutePath());
        // Mapping to command line pattern variable
        ${mapping}