        // Output: ${output_variable}
        File ${output_variable}File = new File(${output_variable}FileName${autoextension});
        if (!${output_variable}File.exists() || ${output_variable}File.length() == 0) {
            errorlog("The expected output file " + ${output_variable}File.getName() + " is empty or has not been created successfully");
            return ${operationname}Result(fac, omNs);
        }
        infolog("Output file of size " + ${output_variable}File.length() + " has been created successfully");
        File ${output_variable}PublicFile =
                new File(publicHttpAccessDir + ${output_variable}File.getName());
        if (!new File(publicHttpAccessDir).isDirectory()) {
            errorlog("The output directory " + publicHttpAccessDir + " does not exist. Check "
                    + "publicHttpAccessDir parameter in the service configuration");
            return ${operationname}Result(fac, omNs);
        }
        infolog("Public output file: " + ${output_variable}PublicFile.toString());
        try {
            org.apache.commons.io.FileUtils.copyFile(${output_variable}File, ${output_variable}PublicFile);
        } catch (IOException _) {
            errorlog("An error occurred while trying to copy the result file "
                    + "to the public access directory.");
            return ${operationname}Result(fac, omNs);
        }
        URL ${output_variable}FileUrl = null;
        try {
            ${output_variable}FileUrl = new URL(publicHttpAccessUrl + ${output_variable}PublicFile.getName());
        } catch (MalformedURLException ex) {
            errorlog("Malformed URL for binary result resource. Verify"
                    + "publicHttpAccessUrl parameter in the "
                    + "resources/services.xml. Exception message: "
                    + ex.getMessage());
            return ${operationname}Result(fac, omNs);
        }
        infolog("Output URL: " + ${output_variable}FileUrl.toString());
