        String ${varname}FileName = FileUtils.getTmpFile("${global_project_prefix}${project_midfix}Service_${varname}File_", "${extension}").getAbsolutePath();
        cliCmdKeyValPairs.put("${mapping}", ${varname}FileName);