    <operation name="${operationname}">
      <messageReceiver class="org.apache.axis2.rpc.receivers.RPCMessageReceiver" />
    </operation>
    <parameter name="cliCommand${opid}">$cli_cmd_${opid}</parameter>